:root {
    --primary-green: #386641;
    --primary-dark: #353535;
    --primary-light: #f5fffa;
    --calculator-color: #fca311;
}


html {
    /* footer support */
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--primary-light);
    color: var(--primary-green);
    font-family: 'VT323', monospace;
    line-height: 1.6;
    /* footer support */
    margin-bottom: 100px;
}